.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > span:nth-child(1) {
    color: var(--Rose-500);
  }
  > span:nth-child(2) {
    color: var(--Rose-900);
    font-weight: bold;
    font-size: 20px;
  }
}
